[submodule "vendor/NNIST"]
	path = vendor/NNIST
	url = https://github.com/NoahGWood/NNIST
[submodule "vendor/NMTK"]
	path = vendor/NMTK
	url = https://github.com/NoahGWood/NMTK
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
[submodule "vendor/tinyfd"]
	path = vendor/tinyfd
	url = https://git.code.sf.net/p/tinyfiledialogs/code
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
[submodule "vendor/libtiff"]
	path = vendor/libtiff
	url = https://github.com/libsdl-org/libtiff
