asgiref==3.6.0
attrs==22.2.0
backports.zoneinfo;python_version<"3.9"
cattrs==22.2.0
certifi==2022.12.7
charset-normalizer==3.1.0
Django==4.1.7
django-cors-headers==3.14.0
exceptiongroup==1.1.1
idna==3.4
imutils==0.5.4
numpy==1.24.2
opencv-python==4.7.0.72
platformdirs==3.1.1
requests==2.28.2
requests-cache==1.0.0
six==1.16.0
sqlparse==0.4.3
url-normalize==1.4.3
urllib3==1.26.15
