<option value="AA">Albania</option>
<option value="AC">Africa</option>
<option value="AD">Andorra</option>
<option value="AF">Afghanistan</option>
<option value="AI">Antigua and Barbuda (formerly Antigua)</option>
<option value="AJ">Aruba</option>
<option value="AN">Algeria</option>
<option value="AO">Angola</option>
<option value="AP">Armenia</option>
<option value="AQ">Azores Islands</option>
<option value="AS">Australia</option>
<option value="AT">Argentina</option>
<option value="AU">Austria</option>
<option value="AV">Azerbaijan</option>
<option value="AW">St Kitts/Nevis/Anguilla</option>
<option value="AY">Antarctica</option>
<option value="BB">Barbados</option>
<option value="BD">Bahamas, The</option>
<option value="BE">Bahrain (Bahrein)</option>
<option value="BG">Belgium</option>
<option value="BH">Belize (Formerly British Honduras)</option>
<option value="BI">Burundi</option>
<option value="BL">Bangladesh</option>
<option value="BN">Bhutan</option>
<option value="BP">Bosnia and Herzegovenia (Herzegovenia HC, for Reference only)</option>
<option value="BR">Burma</option>
<option value="BS">Solomon Islands (Formerly British Solomon Islands)</option>
<option value="BT">Botswana</option>
<option value="BU">Bulgaria</option>
<option value="BV">Bolivia</option>
<option value="BW">Balearic Islands</option>
<option value="BX">Brunei</option>
<option value="BY">Belarus</option>
<option value="BZ">Brazil</option>
<option value="CB">Colombia</option>
<option value="CC">Cuba</option>
<option value="CD">Canada</option>
<option value="CF">Chad</option>
<option value="CJ">Cambodia (Kampuchea)</option>
<option value="CK">Czechoslovakia</option>
<option value="CM">Cameroon</option>
<option value="CN">China</option>
<option value="CQ">Chile</option>
<option value="CR">Costa Rica</option>
<option value="CS">Cyprus</option>
<option value="CV">Cape Verde Islands</option>
<option value="CW">Central African Republic</option>
<option value="CX">Congo</option>
<option value="CY">Ceylon (now Sri Lanka)</option>
<option value="DG">Comoros, Fed Islamic Rep</option>
<option value="DH">Benin (formerly Dahomey)</option>
<option value="DI">Cook Islands</option>
<option value="DK">Denmark</option>
<option value="DM">Dominica</option>
<option value="DN">Djibouti</option>
<option value="DR">Dominican Rep</option>
<option value="DU">Ducie Islands</option>
<option value="EK">Equatorial Guinea</option>
<option value="EL">El Salvador</option>
<option value="EM">East Germany</option>
<option value="EN">England</option>
<option value="EO">Ethiopia</option>
<option value="ES">Estonia</option>
<option value="ET">Eritrea</option>
<option value="EU">Ecuador</option>
<option value="EY">Egypt</option>
<option value="EZ">Czech Republic</option>
<option value="FD">Finland</option>
<option value="FJ">Fiji Islands</option>
<option value="FN">France</option>
<option value="FO">Faroe Islands</option>
<option value="FS">Fed States of Micronesia</option>
<option value="GB">Gabon</option>
<option value="GC">Greece</option>
<option value="GD">Georgia/Gruzinskaya</option>
<option value="GE">Germany (Also see EM and WG)</option>
<option value="GG">Ghana</option>
<option value="GI">Guinea</option>
<option value="GJ">Grenada</option>
<option value="GK">Gambia</option>
<option value="GL">Gilbert and Ellice Islands</option>
<option value="GN">Greenland</option>
<option value="GS">S Georgia/S Sandwich Isl</option>
<option value="GT">Guatemala</option>
<option value="GY">Guyana (Includes French Guiana)</option>
<option value="GZ">Gaza</option>
<option value="HC">Herzegovenia</option>
<option value="HD">Honduras</option>
<option value="HK">Hong Kong</option>
<option value="HN">New Hebrides (now Vanuatu)</option>
<option value="HT">Haiti</option>
<option value="HU">Hungary</option>
<option value="IC">Iceland</option>
<option value="IE">Ireland</option>
<option value="II">India</option>
<option value="IO">Indonesia</option>
<option value="IQ">Iraq</option>
<option value="IR">Iran</option>
<option value="IS">Israel</option>
<option value="IT">Italy</option>
<option value="IU">Niue</option>
<option value="IY">Cote dIvoire (Ivory Coast)</option>
<option value="JA">Japan</option>
<option value="JM">Jamaica</option>
<option value="JO">Jordan</option>
<option value="JU">Juan de Nova Island</option>
<option value="KB">Gilbert Islands (now Kiribati)</option>
<option value="KC">Croatia</option>
<option value="KE">Kenya</option>
<option value="KH">Manahiki Island</option>
<option value="KN">North Korea</option>
<option value="KO">South Korea</option>
<option value="KT">Kazakhstan</option>
<option value="KU">Kuwait</option>
<option value="KV">Kosovo</option>
<option value="KZ">Kyrgyzstan</option>
<option value="LB">Liberia</option>
<option value="LD">Moldova</option>
<option value="LE">Lesotho</option>
<option value="LF">Slovakia</option>
<option value="LH">Lithuania</option>
<option value="LI">Liechtenstein</option>
<option value="LN">Lebanon</option>
<option value="LO">Slovenia</option>
<option value="LS">Laos</option>
<option value="LT">Latvia</option>
<option value="LU">Saint Lucia</option>
<option value="LX">Luxembourg</option>
<option value="LY">Libya</option>
<option value="MF">Malawi</option>
<option value="MG">Mongolia</option>
<option value="MJ">Monaco</option>
<option value="ML">Mali</option>
<option value="MM">Mexico</option>
<option value="MP">Madagascar (included in Malagasy Republic)</option>
<option value="MQ">Morocco</option>
<option value="MU">Mauritania</option>
<option value="MV">Maldives</option>
<option value="MY">Malta</option>
<option value="MZ">Malaysia</option>
<option value="NE">Holland (Netherlands)</option>
<option value="NF">Newfoundland (Includes Labrador; Canadian Province)</option>
<option value="NG">Nigeria</option>
<option value="NN">Niger</option>
<option value="NO">New Guinea (now Papua New Guinea)</option>
<option value="NP">Nepal</option>
<option value="NR">Nauru</option>
<option value="NU">Nicaragua</option>
<option value="NW">Norway</option>
<option value="NX">Bonaire (Netherlands Antilles)</option>
<option value="NZ">New Zealand</option>
<option value="OC">Macao (Macau)</option>
<option value="OM">Oman</option>
<option value="PD">Republic of Palau</option>
<option value="PF">Paracel Islands</option>
<option value="PG">Guinea-Bissau (formerly Portuguese Guinea)</option>
<option value="PI">Philippines</option>
<option value="PK">Pakistan</option>
<option value="PM">Panama</option>
<option value="PO">Poland</option>
<option value="PT">Portugal</option>
<option value="PU">Peru</option>
<option value="PV">Paraguay</option>
<option value="QA">Qatar</option>
<option value="RA">Russia</option>
<option value="RB">Republic of Congo, Brazzaville</option>
<option value="RC">Peoples Republic of China</option>
<option value="RH">Rhodesia (now Zimbabwe)</option>
<option value="RS">Spanish Sahara (now Western Sahara)</option>
<option value="RU">Romania/Rumania</option>
<option value="RV">Socialist Republic of Vietnam</option>
<option value="RW">Rwanda</option>
<option value="RY">Republic of Yemen</option>
<option value="SA">Sierra Leone</option>
<option value="SB">Saudi Arabia</option>
<option value="SE">Seychelles</option>
<option value="SF">South Africa</option>
<option value="SG">Senegal</option>
<option value="SH">San Marino</option>
<option value="SJ">South-West Africa (Namibia)</option>
<option value="SM">Somalia</option>
<option value="SP">Spain</option>
<option value="SQ">Sweden</option>
<option value="SR">Singapore</option>
<option value="SS">Scotland</option>
<option value="ST">People’s Democratic Republic of Yemen</option>
<option value="SU">Sudan</option>
<option value="SW">Swaziland</option>
<option value="SX">Soviet Union (USSR/Russia)</option>
<option value="SY">Syria</option>
<option value="SZ">Switzerland</option>
<option value="TC">Trucial States (now United Arab Emirates)</option>
<option value="TE">Spratly Islands</option>
<option value="TF">Tuamontu Archipelago</option>
<option value="TG">Tonga</option>
<option value="TH">Thailand</option>
<option value="TJ">Tajikistan</option>
<option value="TO">Togo</option>
<option value="TP">Sao Tome and Principe</option>
<option value="TQ">Tongareva</option>
<option value="TS">Nevis and Saint Christopher Kitts</option>
<option value="TT">Trinidad / Tobago</option>
<option value="TU">Tunisia</option>
<option value="TV">Ellice Islands (now Tuvalu)</option>
<option value="TW">Taiwan, Republic of China</option>
<option value="TY">Turkey</option>
<option value="TZ">Tanzania, United Republic of</option>
<option value="UA">United Arab Rep</option>
<option value="UG">Uganda</option>
<option value="UK">Ukraine</option>
<option value="UM">Mauritius</option>
<option value="UN">United Kingdom</option>
<option value="UR">Turkmenistan</option>
<option value="US">United States</option>
<option value="UV">Burkina Faso/Upper Volta</option>
<option value="UY">Uruguay</option>
<option value="UZ">Uzbekistan</option>
<option value="VV">St. Vincent and the Grenadines</option>
<option value="VZ">Venezuela</option>
<option value="WB">West Bank</option>
<option value="WL">Wales</option>
<option value="WN">West Indies</option>
<option value="WS">Western Samoa</option>
<option value="XA">Serbia</option>
<option value="XB">Montenegro</option>
<option value="XX">Unknown</option>
<option value="YE">Yemen Arab Republic</option>
<option value="YG">Yugoslavia</option>
<option value="YO">Mayotte</option>
<option value="YY">Unlisted country (Any foreign country not included in the list)</option>
<option value="ZB">Martinique</option>
<option value="ZC">Suriname</option>
<option value="ZD">Macedonia</option>
<option value="ZF">South Sudan</option>
<option value="ZI">Canary Islands</option>
<option value="ZM">Zambia</option>
<option value="ZO">Mozambique</option>
<option value="ZR">Congo Kinshasa (now Zaire)</option>