<option value="BAL">Bald</option>
<option value="BLK">Black</option>
<option value="BLN">Blond/Strawberry</option>
<option value="BLU">Blue</option>
<option value="BRO">Brown</option>
<option value="GRY">Gray/Partial Gray</option>
<option value="GRN">Green</option>
<option value="ONG">Orange</option>
<option value="PNK">Pink</option>
<option value="PLE">Purple</option>
<option value="RED">Red/Auburn</option>
<option value="SDY">Sandy</option>
<option value="WHI">White</option>
<option value="XXX">Other</option>