<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" style="display:inline-block"><b>OpenEFT</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-2">
            <li class="nav-item">
                <a class="nav-link dropdown-toggle bg-dark" type="button" data-bs-toggle="dropdown" href="#">
                    File
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/new" data-toggle="tooltip" data-placement="top" title="Create A New .EFT File">New</a></li>
                    <li><a class="dropdown-item" href="/view" data-toggle="tooltip" data-placement="top" title="Functionality Not Available">Open</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item disabled" href="#" data-toggle="tooltip" data-placement="top" title="Functionality Not Available">Save</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/features">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/donate">Donate</a>
            </li>
        </ul>
    </div>
</nav>