<div class="step">
    <div class="row">
        <div class="col"></div>
        <!-- TITLE -->
        <div class="col-lg-4 offset-lg-1 mx-0 px-0">
            <h2>Processing</h2>
         </div>
         <div class="col"></div>
        </div>
    <div class="row">
        <!-- FORMS -->
        <div class="col-lg-5"></div>
        <div class="col-lg-7 mx-0 px-0">
            <div class="spinner-border text-dark" role="status" style="width: 10rem; height: 10rem;"></div>
         </div>
         <div class="col"></div>
    </div>
</div>