<div class="step">
    <div class="row">
        <div class="col"></div>
        <!-- TITLE -->
        <div class="col-lg-4 offset-lg-1 mx-0 px-0">
            <h2>Personal Information</h2>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <!-- FORMS -->
        <div class="col"></div>
        <div class="col-lg-7 mx-0 px-0">
            <div>
                <div class="input-group mb-2">
                    <span class="input-group-text">First</span>
                    <input type="text" class="form-control" placeholder="First Name" id="fname" name="fname">
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text">Middle</span>
                    <input type="text" class="form-control" placeholder="Middle Name" id="mname" name="mname">
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text">Last</span>
                    <input type="text" class="form-control" placeholder="Last Name" id="lname" name="lname">
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text">AKA</span>
                    <input type="text" class="form-control" placeholder="Comma, Separated, Aliases" id="alias"
                        name="aliase">
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text">Address</span>
                    <input type="text" class="form-control" placeholder="555 Someplace DR, Albany, NY 44019" id="addr"
                        name="addr">
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text" id="ssn">SSN</span>
                    <input type="text" class="form-control" placeholder="555440123" id="ssn">
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>