{% extends 'base.html' %}
{% block Title %}OpenEFT | Home{% endblock %}
{% block content %}
{% load static %}
<div class="row align-items-center">
    <div class="col-2"></div>
    <div class="col-8 align-self-center">
        <div class="card">
            <div class="card-header">EFT File</div>
            <div class="card-body">
                <ul>
                    <ul class="list-group">
                        {% for file in files %}
                        <li class="list-group-item">
                            <a href="/static/{{ file }}" download>{{ file }}</a>
                        </li>
                        {% endfor %}
                      </ul>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}